.container {
  display: flex;
}
.container > div {
  flex: 1;
  margin: 25px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15)
}
.body{
    margin: 15px;
}
a {
    color: inherit;
}
a:hover {
    color: #4a90e2 ~'!important';
    text-decoration: none ~'!important';
}

.branchInfo > span {
    margin-right: -6px;
    color: #817ea0;
}
.branchInfo{
    font-size: xx-large;
}
.branchName {
    display: inline;
}
.branchRun {
    float: right;
}
.header {
    padding: 20px 15px 20px;
    font-size: x-large;
    background-color: #2979ff;
    color:white;
}
.commitHash {
    font-family: consolas;
    font-weight: bolder;
}
.timeStamp, .commitHash {
    color: #817ea0;
}
.pipelineText {
    padding-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.popupBox {
    width: 375px;
}
.mainPopupBox {
    top: 72px ~'!important';
}
.titlePopupBox {
    margin-bottom: 23px ~'!important';
}

.jenkins-pipeline-detail-header-action > div{
    display: inline-block;
}
.environmentsLink {
    vertical-align: super;
    margin-left: 10px;
}